body {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: bisque;
    color: brown;
}

p {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.5);
}

span {
    background-color: hsla(180, 50%, 45%, 0.8);
    color: #fff;
}